{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Edit Content</h1>

    <form action="{% url 'new' %}" method="POST">
        {% csrf_token %}
        {{error}}<br>
        <input type="text" placeholder="Enter Title" name="Title" required value="{{title}}"><br><br>
        <textarea name="Content" placeholder="Enter Content" style="height: 300px;" required>{{ content }}</textarea><br><br>
        <button type="submit">Submit Article</button>
    </form>
{% endblock %}